// 主要色 | Primary-color (變體)
$primary:       #5F3D2D;
$primary-dark:  #482F23;


// 主要色 | Primary-color (變體)
$secondary:     #F9CF93;
$secondary-light:     #FAF5EF;
$secondary-tint:     #FAEEE0;

// 狀態色 | State-color
$danger:        #DC3545;
$warning:       #FFC107;
$success:       #0C8B11;
$light:         #fff;

// 灰階色 | Gray-scale (變體)
$gray-900:        #1A1A1A;
$gray-800:        #333333;
$gray-700:        #545454;
$gray-600:        #737373;
$gray-500:        #999999;
$gray-400:        #B3B3B3;
$gray-300:        #CCCCCC;
$gray-200:        #E6E6E6;
$gray-100:        #F7F7F7;