// 主要色 | Primary-color (變體)
$primary: #5f3d2d;
$primary-dark: #482f23;

// 主要色 | Primary-color (變體)
$secondary: #f9cf93;
$secondary-light: #faf5ef;
$secondary-tint: #faeee0;

// 狀態色 | State-color
$danger: #dc3545;
$warning: #ffc107;
$success: #0c8b11;
$light: #fff;

// 灰階色 | Gray-scale (變體)
$gray-900: #1a1a1a;
$gray-800: #333333;
$gray-700: #545454;
$gray-600: #737373;
$gray-500: #999999;
$gray-400: #b3b3b3;
$gray-300: #cccccc;
$gray-200: #e6e6e6;
$gray-100: #f7f7f7;
