.form-control { // 結構
  background-color: transparent;
  padding: 8px 12px;
  border: 2px solid map-get($theme-colors, gray-500);
  border-radius: 4px;
  &:focus {
    background-color: transparent;
    box-shadow: 0 0 0 4px rgba(95, 61, 45, 0.3);
  }
}