// Default Style
$modal-padding-y: 16px;
$modal-padding-x: 24px;

$modal-bg: #282828;
$modal-color: #f2f2f2;
$modal-border-radius: 12px;

.dashboard {
  .modal {
    .modal-content {
      background-color: $modal-bg;
      color: $modal-color;
      border: none;
      border-radius: $modal-border-radius;
    }

    .modal-header {
      padding: $modal-padding-y $modal-padding-x;
      border: none;

      // 危險狀態樣式
      &.danger {
        border-top: 8px solid #ff6e76;
      }
    }

    .modal-body {
      padding: $modal-padding-y $modal-padding-x;
    }

    .modal-footer {
      padding: $modal-padding-y $modal-padding-x;
      border: none;
    }
  }
}